<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.DeviceMetricMapper">

    <select id="testSelect" resultType="com.aurora.entity.DeviceMetricDo">
        SELECT * FROM device_metric LIMIT 10
    </select>

</mapper>